/*Animaciones*/
.slowest{
    -webkit-transition: all 1.3s ease-in-out;
    -o-transition: all 1.3s ease-in-out;
    -moz-transition: all 1.3s ease-in-out;
    transition: all 1.3s ease-in-out;
}
.slow{
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.medium{
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}
.high{
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.highest{
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
  /*Animaciones*/


.theme-dark {
    background-color: #3d3935;
    color: #fff;
}
.main{
    display: block;
}
.section{
    padding: 40px 0;
}


.form-datos{
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
#div-form-datos{
    min-height: 200px;
}



/*Screen Loading*/
.div_screen_loading{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;	
}
.div_screen_loading.active{
    z-index: 9;
}
.div_inner_screen_loading{
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
	opacity:0;
	z-index: -1;
	background-color: black;
}
.div_inner_screen_loading.top{
	top: 0;
}
.div_inner_screen_loading.bottom{
	bottom: 0;
}
.div_inner_screen_loading.active{
    height: 50%;
	opacity: 1;
	z-index: 10;
}
.img_screen_loading{
	width: 50px;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	opacity: 0;
	z-index: 0;
}
.img_screen_loading.active{
	opacity: 1;
	z-index: 11;
	width: 100px;
}
/*Screen Loading*/